services:
  ollama:
    volumes:
      - ./ollama/ollama:/root/.ollama
    container_name: ollama
    pull_policy: always
    tty: true
    image: docker.io/ollama/ollama:latest
    ports:
      - 7869:11434
    environment:
      - OLLAMA_KEEP_ALIVE=24h
      - OLLAMA_HOST=0.0.0.0
    networks:
      - ollama-docker

  # This takes a minute or two to be ready the first time you start it
  ollama-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: ollama-webui
    volumes:
      - ./ollama/ollama-webui:/app/backend/data
    depends_on:
      - ollama
    ports:
      - 8080:8080
    environment:
      - OLLAMA_BASE_URL=${OLLAMA_URL?OLLAMA_URL}
      - ENV=dev
      - WEBUI_AUTH=False
      - WEBUI_NAME=Ollama
      - WEBUI_URL=${WEBUI_URL?WEBUI_URL}
      - WEBUI_SECRET_KEY=${WEBUI_SECRET_KEY?WEBUI_SECRET_KEY}
      - NO_PROXY=host.docker.internal
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - ollama-docker

networks:
  ollama-docker:
    external: false
