# This is your secret to access jupyter labs
JUPYTER_TOKEN=
# This is the secret key for webui
WEBUI_SECRET_KEY=
# The URL for internal docker network to share models
# between webui and ollama container
OLLAMA_URL="http://ollama:11434"
# The URL to access in your browser for webui
WEBUI_URL="http://127.0.0.1:8080"
# Enter your openAI api key.
# https://platform.openai.com/api-keys
OPEN_AI_API_KEY=""
